[submodule "externals/ffmpeg"]
	path = externals/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/2.8
[submodule "externals/openh264"]
	path = externals/openh264
	url = https://github.com/cisco/openh264
[submodule "externals/dlib"]
	path = externals/dlib
	url = https://github.com/davisking/dlib.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json.git
