*.o
*.a
.*.sw?
Makefile
!docs/server/guide/Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
server/config.h
server/src/base/ozConfig.h
docs/server/html/*
docs/server/doxygen_*
docs/server/guide/_build/*
